<div class="borderbot"></div>
<div class="row">
  <div class="col-lg-6">
    <div>
      <img src="images/aya.png" class="personalimg" />
    </div>
  </div>
  <div class="col-lg-5 mt-5">
    <div>
      <h2>Get In Touch!</h2>
      <p class="bodycolor">
        Do you have a product idea, want to discuss a project, or need a
        designer? Drop me an email!
      </p>
      <form class="bodycolor">
        <p class="mt-3 mb-0">Email</p>
        <input type="email" placeholder="Your email..." class="form-control" />
        <p class="mt-3 mb-0">Name</p>
        <input type="text" placeholder="Your name..." class="form-control" />
        <p class="mt-3 mb-0">Message</p>
        <textarea
          type="text"
          placeholder="Write your message here..."
          class="form-control"
        ></textarea>
        <button class="btn border bodycolor rounded-4 mt-4 p-3">
          Send Email
        </button>
      </form>
    </div>
  </div>
</div>
