<div class="row d-flex align-items-center">
  <div class="col-lg-7">
    <p class="headercolor">
      Passionate UI/UX Designer focused on creating intuitive and visually
      appealing user experiences. I enjoy understanding user needs and
      translating them into clear, user-friendly designs.
    </p>
    <p class="bodycolor">
      My journey into the world of user experience began with a passion for
      understanding how users interact with digital products. I focus on
      creating simple, user-centered designs that provide smooth and enjoyable
      experiences
    </p>
  </div>
  <div class="col-lg-5">
    <div>
      <img src="images/aya.png" class="personalimg" />
    </div>
  </div>
</div>
<div class="borderbot mt-5"></div>
<h3 class="heading">Education</h3>
<p class="headercolor">
  Beni-Suef University | Faculty of Computers and Artificial Intelligence
</p>
<p class="bodycolor">
  I am currently a Multimedia student at the Faculty of Computers and Artificial
  Intelligence, Beni-Suef University. I am developing my skills in UI/UX design
  with a strong focus on usability and user-centered experiences.
</p>
<hr />
<p class="headercolor">UI/UX Design – Creative NTI</p>
<P class="bodycolor"
  >Completed hands-on UI/UX training with practical projects focused on user
  research, prototyping, and designing intuitive interfaces.</P
>
<hr />
<p class="headercolor">Soft Skills</p>
<ul class="bodycolor">
  <li>Client Communication</li>
  <li>Time Management</li>
  <li>Problem Solving</li>
  <li>Adaptability</li>
  <li>Creativity</li>
  <li>User Empathy</li>
  <li>Attention to Detail</li>
  <li>Self-Management</li>
</ul>
<hr />
<p class="headercolor">Tools</p>
<p class="bodycolor">Figma , FigJam</p>
<div class="borderbot"></div>
<h3 class="heading">Case Study</h3>
<p class="headercolor">Lamera – Mobile App UX/UI Case Study</p>
<p class="bodycolor">OverView:</p>
<p class="bodycolor">
  A mobile-first restaurant application designed to help users easily browse the
  menu, place orders, and enjoy a smooth food ordering experience.
</p>
<p class="bodycolor">The Challenge:</p>
<p class="bodycolor">
  Users needed a fast and intuitive way to explore the restaurant menu and
  complete orders without confusion or unnecessary steps on mobile devices.
</p>
<p class="bodycolor">The Goal:</p>
<p class="bodycolor">
  Design a clean, user-friendly mobile app that simplifies the ordering process
  and enhances the overall user experience.
</p>
<p class="bodycolor">My Role:</p>
<p class="bodycolor">
  UX Research , User Flow , Wireframing , UI Design , Prototyping.
</p>
<p class="bodycolor">Tools:</p>
<p class="bodycolor">Figma , Google Forms.</p>
<p class="bodycolor">Research & Insights:</p>
<ul class="bodycolor">
  <li>Users prefer quick access to menu categories</li>
  <li>Clear food images increase trust and engagement</li>
  <li>A short and simple checkout flow improves usability</li>
</ul>
<p class="bodycolor">User Flow:</p>
<p class="bodycolor">
  Open App → Browse Menu → Select Items → Add to Cart → Checkout.
</p>
<p class="bodycolor">Design Solution:</p>
<ul class="bodycolor">
  <li>Mobile-first layout</li>
  <li>Clear and visible CTA buttonst</li>
  <li>Warm color palette suitable for food apps</li>
  <li>Strong visual hierarchy and readability</li>
</ul>
<p class="bodycolor">OutCome:</p>
<p class="bodycolor">✔️ Faster ordering experience</p>
<p class="bodycolor">✔️ Clean and engaging interface</p>
<p class="bodycolor">✔️ Improved usability on mobile devices</p>
<p class="bodycolor">Key Learnings:</p>
<p class="bodycolor">
  This project helped me strengthen my mobile UX thinking and create
  user-centered designs focused on simplicity and clarity.
</p>
<h3 class="heading my-5">Wireframe</h3>
<div class="d-flex gap-5">
  <img src="images/wireframe1.png" class="wirimg" />
  <img src="images/wireframe2.png" class="wirimg" />
  <img src="images/wireframe3.png" class="wirimg" />
</div>
<h3 class="heading my-5">UI Design</h3>
<div class="d-flex gap-5">
  <img src="images/menu.png" class="wirimg" />
  <img src="images/items.png" class="wirimg" />
  <img src="images/menu3.png" class="wirimg" />
</div>
<h3 class="heading my-5">Prototyping</h3>
<div class="d-flex gap-5">
  <img src="images/prototyping.png" class="prototyping-img" />
</div>
