.beautyimg {
  width: 100%;
}
.beautyimg3 {
  width: 100%;
  height: 500px;
}
.fashionimg {
  width: 100%;
  height: 600px;
}
.whatsimg {
  width: 50%;
  height: 75%;
}
.whats1 {
  margin-top: 150px;
}
@media  screen and (min-width:200px) and (max-width:700px) {
    .whatsimg{
        width: 50%;
        height: 100%;
        margin: 0px;
        padding: 5px;
    }
   
}
