<div class="row border rounded-3 my-5">
  <div class="col-lg-4">
    <img src="images/beautyhome1.png" class="beautyimg" />
    <img src="images/beautyhome2.png" class="beautyimg" />
  </div>
  <div class="col-lg-4 align-self-center">
    <img src="images/beautyhome3.png" class="beautyimg3" />
  </div>
  <div class="col-lg-4">
    <img src="images/beautyhome4.png" class="beautyimg" />
    <img src="images/beautyhome5.png" class="beautyimg" />
  </div>
  <h2 class="center">Beauty Home</h2>
  <p class="bodycolor p-5">
    Designed a user-centered furniture shopping mobile application aimed at
    simplifying the online purchasing process. Conducted user research and
    collected client requirements. Performed competitor analysis to identify
    strengths and weaknesses. Created user personas and mapped user journeys.
    Designed low-fidelity wireframes followed by high-fidelity UI screens.
    Applied calm, elegant color palettes aligned with brand identity. Built an
    interactive prototype using Figma. Focused on improving usability and
    ensuring smooth navigation flow
  </p>
</div>
<div class="row border rounded-3">
  <img src="images/fashion.png" class="fashionimg" />
  <h2 class="center">Fashion Website</h2>
  <p class="bodycolor p-5">
    Designed a modern fashion e-commerce website with a clean and elegant user
    experience. Conducted target audience research. Built structured user flow
    and navigation system. Designed homepage, product listing, product details,
    and checkout pages. Applied soft color palette and balanced typography.
    Ensured user-friendly browsing and smooth interaction. Created wireframes
    and high-fidelity designs in Figma.
  </p>
</div>
<div class="row border rounded-3 my-5">
  <div class="d-flex justify-content-center">
    <img src="images/whatsapp1.png" class="whatsimg whats1" />
    <img src="images/whatsapp2.png" class="whatsimg" />
  </div>
  <h2 class="center">Update WhatsApp</h2>
  <p class="bodycolor p-5">
    A redesign concept focused on enhancing visual experience and usability
    while maintaining brand familiarity. Analyzed the current interface and
    identified usability gaps. Improved layout structure and visual hierarchy.
    Refined color system and UI components for a modern look. Designed
    interactive prototype in Figma. Maintained simplicity while improving
    engagement.
  </p>
</div>
