<nav class="navbar navbar-expand-lg mt-lg-3">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a
          class="nav-link mx-lg-3 navcolor"
          aria-current="page"
          routerLink="home"
          routerLinkActive="nav-selected"
          >Home</a
        >
        <a
          class="nav-link mx-lg-3 navcolor"
          routerLink="about"
          routerLinkActive="nav-selected"
          >About</a
        >
        <a
          class="nav-link mx-lg-3 navcolor"
          routerLink="projects"
          routerLinkActive="nav-selected"
          >Projects</a
        >
        <a
          class="nav-link mx-lg-3 navcolor"
          routerLink="contact"
          routerLinkActive="nav-selected"
          >Contact</a
        >
      </div>
    </div>
  </div>
</nav>
