<p class="headercolor">
  Hi,I’m Aya Abdelrahman, a UI/UX designer passionate about creating intuitive,
  user-centered experiences that solve real problems and enhance usability.
</p>

<div class="borderbot"></div>
<div class="border my-4 rounded-4">
  <div class="row">
    <div class="col-lg-4 ">
        <img src="images/lamera1.png" class="img13" />
    </div>
    <div class="col-lg-4 ">
        <img src="images/lamera.png" class="img13" />
    </div>
    <div class="col-lg-4">
        <img src="images/lamera3.png" class="img13" />
    </div>
  </div>
  <h2 class="center">Lamera</h2>
  <p class="bodycolor">
    Designed a modern and user-friendly restaurant mobile application focused on
    providing a smooth food ordering experience. Conducted research to
    understand user needs and restaurant requirements. Created user flow to
    simplify the ordering process. Designed low-fidelity wireframes and
    high-fidelity UI screens. Applied attractive and balanced color palettes
    suitable for a restaurant brand. Focused on usability and clear navigation
    to ensure easy browsing and ordering. Built an interactive prototype using
    Figma.
  </p>
</div>
