p {
  width: 1156px;
  margin: 40px;
}

.img13 {
  width: 350px;
  height: 400px;
}
.img2 {
  width: 500px;
  height: 500px;
}
@media  screen and (min-width:200px) and (max-width:700px) {
    p{
        width: 100%;
        margin: 0px;
        padding: 5px;
    }
    .img2{
        width: 100%;
    }
}